* {
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.01em;
    line-height: 1.5;
    font-size: 14px;
}
body {
    background: whitesmoke;
    margin: 1rem;
}
main, header {
    max-width: 1000px;
    margin: 3rem auto;
}
header div {
    display: flex;
    flex-direction: row;
}
#programs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.program {
    flex: 0 0 50%;
    padding: 1rem;
    border: 1px solid darkgray;
    margin: -1px 0 0 -1px;    
    counter-reset: section;
}
.program:nth-child(even) {
    margin-left: -1px;
}
.program-work, .program-work-intermission {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 20px;
    position: relative;
}
.program-work-intermission {
    font-style: italic;
}
.program-work:before {
    content: counter(section);
    position: absolute;
    width: 11px;
    top: 2px;
    left: -25px;
    counter-increment: section;
    text-align: right;
    font-size: 11px;
}
h1 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    font-weight: 400;
}
h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
}
h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}

@media (max-width: 767px) {
    .program {
        flex-basis: 100%;
    }
    h1, h2 {
        font-size: 1.2rem;
    }
}