body {
    margin: 0;
}
main, header {
    max-width: 660px;
}
header, .sorting {
    padding: 0 1rem;
}
header .subtitle{
    display: flex;
    flex-direction: row;
}
h1 span{
    font-size: inherit;
}
h2 {
    margin: 0;
}
header select {
    margin: 0 10px;
}
.sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}
.sorting > div {
    display: flex;
    flex-direction: row;
}
.sorting select {
    margin: 0 0 0 1rem;
}
summary {
    display: -webkit-flex;
    display: flex;
}
summary::marker, 
summary::-webkit-details-marker {
    display: none;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
details {
    border-top: 1px solid;
    cursor: pointer;
}
details:hover summary, details[open] summary {
    background: yellow;
}
details > div {
    padding-left: calc(10% - 0.5rem);
}
details:hover > div, details[open] > div {
    /* border: 2px solid pink */
}
.row > div {
    padding: 0.75rem 1rem;
}
details summary div:first-child {
    flex: 0 0 10%;
    text-align: left;
}
details summary div:nth-child(2) {
    text-align: left;
    flex: 4 1 auto;
    padding-left: 0.5rem;
}
details summary div:last-child {
    flex: 1 4 auto;
    text-align: right;
}
#pagination {
    margin: 1rem;
}
#pagination button:disabled {
    border: 1px solid gray;
    color: gray;
}
@media (max-width: 767px) {
    select {
        font-size: 0.875rem;
    }
}